.row
  .col-md-12
    .list-group
      - @parks.each do |park|
        %a.list-group-item{ :href => "#{park[:uri].to_s.gsub(/http:\/\/yokohama.openpark.jp/, '')}" }
          %h3.list-group-item-heading= park[:label].to_s
          %p.list-group-item-text= park[:address].to_s.gsub(/神奈川県/, '')
