#container
  .col-sm-offset-2.col-sm-8
    %h3 Open Park API
    %p Open Park では，データアクセス用に以下のAPIを用意しています．
    %p
      ライセンス:
      %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by-sa/4.0/" }
        %img{ :style => "border-width: 0", :src => "https://i.creativecommons.org/l/by-sa/4.0/80x15.png", :alt => "Creative Commons Attribution-ShareAlike 4.0 International License" }
    %p 本サイトで利用している元データについてはメニューからAboutを参照してください．

    .panel.panel-primary
      .panel-heading Linked Data
      .panel-body
        %p 個々の公園データはLinked Dataとして提供しています．各IRIにアクセスすると，指定したメディアタイプか拡張子に合わせて303 See Otherでリダイレクトします．データ用IRIはCORSに対応しています。
        %ul
          %li 公園 IRI: http://openpark.jp/parks/[自治体コード5桁]/[ID]
          %li 遊具 IRI: http://openpark.jp/equipment/[自治体コード5桁]/[ID]
          %li 組織 IRI: http://openpark.jp/organizations/[自治体コード5桁]/[ID]
          %li データ用IRI: https://openpark.jp/[parks|equipment|organizations]/[自治体コード5桁]/[ID].{拡張子}
          %li HTTP Method: GET

        %table.table.table-hover
          %thead
            %tr
              %th ファイル形式
              %th メディアタイプ
              %th 拡張子
          %tbody
            %tr
              %td JSON-LD
              %td application/ld+json
              %td .jsonld
            %tr
              %td Turtle
              %td text/turtle
              %td .ttl
            %tr
              %td RDF/XML
              %td application/rdf+xml
              %td .rdf

        %h4 例1: HTTP AcceptでJSON-LDのファイルを取得
        %pre
          %code
            $ curl -LH 'Accept: application/ld+json' 'http://openpark.jp/parks/14108/P7005'

        %h4 例2: Turtleファイルを拡張子指定して取得
        %pre
          %code
            $ curl -L 'http://openpark.jp/parks/14108/P7005.ttl'
        %h4 例3: JSON-LDファイルを直接取得
        %pre
          %code
            $ curl 'https://openpark.jp/data/equipment/14108/314.jsonld'

    .panel.panel-primary
      .panel-heading SPARQL
      .panel-body
        %p Linked Dataとして提供しているデータは，SPARQLでもアクセス可能です．/sparql以下はCORSに対応しています。
        %ul
          %li
            %a{ :href => "/sparql" } 公開エンドポイント
    .panel.panel-primary
      .panel-heading データモデル
      .panel-body
        %p
          Open Parkのデータは
          %a{ :href => "http://imi.go.jp/ns/core/rdf" } 共通語彙 コア語彙2.4
          のRDF版とそれを独自に拡張した公園語彙の組み合わせでできています。
        %table.table.table-hover
          %thead
            %tr
              %th 語彙名
              %th prefix
              %th IRI
              %th JSON-LD context
          %tbody
            %tr
              %td 共通語彙 コア語彙2.4
              %td ic
              %td
                %a{ :href => "http://imi.go.jp/ns/core/rdf#"} http://imi.go.jp/ns/core/rdf#
              %td
                %a{ :href => "https://imi.go.jp/ns/core/context.jsonld"} https://imi.go.jp/ns/core/context.jsonld
            %tr
              %td 公園語彙 1.0
              %td park
              %td
                %a{ :href => "http://openpark.jp/ns/park#" }  http://openpark.jp/ns/park#
              %td
                %a{ :href => "https://openpark.jp/contexts/park"} https://openpark.jp/contexts/park
                %br
                %a{ :href => "https://openpark.jp/contexts/equipment"} https://openpark.jp/contexts/equipment
                %br
                %a{ :href => "https://openpark.jp/contexts/organization"} https://openpark.jp/contexts/organization

        %p
          %a{ :href => "/static_data/OpenParkModel.png" }
            %img.img-responsive{ :src => "/static_data/OpenParkModel.png", :alt => "Open Park Model" }
