#container
  #map
#loading
  .loading-indicator
    .progress.progress-striped.active
      .progress-bar.progress-bar-info.progress-bar-full
#featureModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#feature-title.modal-title.text-primary
      #feature-info.modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
