!!! 5
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title Permit
  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container-fluid
        .navbar-header
          %a.navbar-brand{ href: "#" }
            %span.fa.fa-home
    .container
      = yield
